<div class="row row__text">
    <div class="col" *ngFor="let dateColumn of orderWorkflowSteps">
        <div class="step step__title">{{dateColumn.step}}:</div> 
        <div class="step">{{dateColumn.date}}</div> 
    </div>
</div>
<app-progress-bar 
    [progress]="percentFilled"
    class="row row__bar">
</app-progress-bar>
<div class="buttons">
    <button (click)="revertAction()" 
            [disabled]="furthestStep === this.workflowSteps[0]" 
            mat-raised-button 
            class="buttons buttons__revert">
        Revert
    </button>
    <button (click)="advanceAction()" 
            [disabled]="furthestStep === this.workflowSteps[this.workflowSteps.length - 1]" 
            mat-raised-button 
            class="buttons buttons__advance">
        Advance
    </button>
</div>
