<div class="title">Create New Order</div>
<mat-form-field appearance="outline">
    <mat-label>Order Name</mat-label>
    <input [formControl]="formGroup.controls.name" 
           matInput 
           placeholder="Name" >
</mat-form-field>
<div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Customer</mat-label>
        <mat-select [formControl]="formGroup.controls.customerId" >
          <mat-option *ngFor="let customer of (customers$ | async)" [value]="customer.id">
            {{customer.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Material</mat-label>
        <mat-select [formControl]="formGroup.controls.materialId" >
          <mat-option *ngFor="let material of (materials$ | async)" [value]="material.id">
            {{material.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Due Date</mat-label>
        <input [formControl]="formGroup.controls.dueDate"
               [matDatepicker]="dueDatePicker"
               matInput>
        <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
      </mat-form-field>
</div>
<mat-form-field appearance="outline">
    <mat-label>Notes</mat-label>
    <textarea [formControl]="formGroup.controls.notes" matInput></textarea>
</mat-form-field>

<ng-container *ngIf="(orderFiles$ | async) as orderFiles">
  <app-file-upload 
    (upload)="uploadFile($event)"
    (remove)="removeFile($event)"
    [files]="orderFiles"
  ></app-file-upload>
</ng-container>


<button [disabled]="formGroup.invalid" class="button" (click)="createOrder()"mat-raised-button>Create</button>

