:host{
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.title{
    font-size: var(--l);
    text-align: center;
    color: var(--color-dark);
}

.row{
    display:flex;
}


::ng-deep.mat-form-field{
    font-size: var(--m);
    flex: 1;
    margin: 0 0.5rem;
    color: var(--color-dark);
}

