:host{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-medium-light);
}

.header{
}


.item{
    flex: 1;
    display: flex;
    &__title{
        color: var(--color-dark);
        margin-left: 1rem;
        font-size: var(--m);
        cursor: pointer;
    }

    &__buttons{
        justify-content: flex-end;
    }
}