
:host{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.row{
    display: flex;
    justify-content: flex-end;
}

.btn{
    padding: 0.25rem;
    margin: 1rem;
}

tr,th{
    width: 100%;
}


tr:nth-child(even) {
    background-color: var(--color-medium-very-light);
}

.add-button{
    margin-left: 2rem;
}

