
<ng-container *ngIf="(customers$ | async) as customers">
    <app-edit-list [data]="customers"
                   [text]="customerSettingsText"
                   (removeAction)="removeCustomer($event)">
        <div>
            <mat-form-field>
                <mat-label>New {{customerSettingsText.title}}</mat-label>
                <input [formControl]="customerName" 
                       matInput 
                       autocomplete="off"
                       placeholder="new {{customerSettingsText.title}}" >
            </mat-form-field>
            <button (click)="addCustomer()"
                    mat-raised-button 
                    class="add-button button">
                <mat-icon class="add-icon">add_box</mat-icon>
            </button>
        </div>
    </app-edit-list>
</ng-container>

<ng-container *ngIf="(materials$ | async) as materials">
    <app-edit-list [data]="materials"
                   [text]="materialSettingsText"
                   (removeAction)="removeMaterial($event)">
        <div>
            <mat-form-field>
                <mat-label>New {{materialSettingsText.title}}</mat-label>
                <input [formControl]="materialName" 
                       matInput 
                       autocomplete="off"
                       placeholder="new {{materialSettingsText.title}}" >
            </mat-form-field>
            <button (click)="createMaterial()"
                    mat-raised-button 
                    class="add-button button">
                <mat-icon class="add-icon">add_box</mat-icon>
            </button>
        </div>
    </app-edit-list>
</ng-container>
