
<ng-container *ngIf="(customers$ | async) as customers">
    <app-edit-list [data]="customers"
                   [text]="customerSettingsText"
                   (removeAction)="removeCustomer($event)">
        <mat-form-field appearance="outline" >
            <mat-label>New {{customerSettingsText.title}}</mat-label>
            <input [formControl]="customerName" 
                matInput 
                placeholder="new {{customerSettingsText.title}}" >
        </mat-form-field>
        <button (click)="addCustomer()"
                mat-raised-button 
                class="add-button button">
            <mat-icon class="add-icon">add_box</mat-icon>
        </button>
    </app-edit-list>
</ng-container>

<ng-container *ngIf="(materials$ | async) as materials">
    <app-edit-list [data]="materials"
                   [text]="materialSettingsText"
                   (removeAction)="removeMaterial($event)">
        <div class="todo">TODO: ADD FORM CONTROLS TO CREATE MATERIALS</div>
    </app-edit-list>
</ng-container>
