:host{
    width: 100%;
}

table{
    width: 100%;
}


.header-inputs{
    display: flex;
    justify-content: space-between;
}

tr:nth-child(even) {
    background-color: var(--color-medium-very-light);
}

mat-expansion-panel{
    margin: 5px;
}