

<table mat-table [dataSource]="data">
    <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let item"> 
                <ng-container *ngIf="column !== 'action'; else action">
                    {{item[column]}}
                </ng-container>
                <ng-template #action>
                    <button (click)="removeItem(item)" 
                            mat-raised-button 
                            class="button">
                        <mat-icon>remove</mat-icon>
                    </button>
                </ng-template>
            </td>
        </ng-container>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

<div class="new-customer-input">
    <mat-form-field appearance="outline" >
        <mat-label>New Customer</mat-label>
        <input [formControl]="customerName" 
                matInput 
                placeholder="customer name" >
    </mat-form-field>
    <button mat-raised-button class="add-button button">
        <mat-icon class="add-icon" (click)="addItem()" >
            add_box
        </mat-icon>
    </button>
</div>
