<div class="list">
    <ng-container *ngFor="let file of files">
        <div class="list list__item">
            <div class="list list__item list__item__name">{{file?.name}}</div>
            <mat-icon (click)="removeFile(file)" class="remove-circle">remove_circle_outline</mat-icon>
        </div>
    </ng-container>
</div>

<div class="file-upload">
    <mat-form-field class="u-margin-right-s" (click)="fileInput.click()">
        <mat-label>Upload file</mat-label>
        <input class="upload-input" matInput disabled>
        <button mat-icon-button matSuffix><mat-icon>attach_file</mat-icon></button>
        <input (click)="uploadFileClick()" 
               (change)="uploadFile($event)" 
               [formControl]="fileFormControl"
               hidden 
               #fileInput 
               type="file" 
               id="file">
    </mat-form-field>
    <app-progress-bar *ngIf="displayProgressBar" [progress]="progress" ></app-progress-bar>
</div>




