<mat-card class="container">
    <mat-card-content>
      <div class="login-form">
          <mat-form-field *ngIf="!displayLogin" class="login-input" appearance="outline">
            <mat-label>First Name</mat-label>
            <input [formControl]="authFormGroup.controls.firstName" matInput placeholder="first name"/>
          </mat-form-field>
          <mat-form-field *ngIf="!displayLogin" class="login-input" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input [formControl]="authFormGroup.controls.lastName" matInput placeholder="last name"/>
          </mat-form-field>
          <mat-form-field class="login-input" appearance="outline">
            <mat-label>Email</mat-label>
            <input [formControl]="authFormGroup.controls.email" matInput placeholder="email"/>
          </mat-form-field>
          <mat-form-field class="login-input"  appearance="outline">
            <mat-label>Password</mat-label>
            <input [formControl]="authFormGroup.controls.password" matInput placeholder="password" type="password"/>
          </mat-form-field>
          <mat-form-field *ngIf="!displayLogin" class="login-input"  appearance="outline">
            <mat-label>Repeat Password</mat-label>
            <input [formControl]="authFormGroup.controls.passwordRepeat" matInput placeholder="repeat password" type="password"/>
          </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="login-button-wrapper">
       <button mat-raised-button (click)="onSubmit()"color="primary" class="button login-button">
            {{ displayLogin ? 'LOGIN' : 'REGISTER'}}
       </button>
    </mat-card-actions>
    <mat-card-actions class="login-button-wrapper">
       <button mat-raised-button (click)="toggleDisplay()" color="secondary" class="toggle-register-button">
           {{ displayLogin ? 'register here' : 'login here'}}
       </button>
    </mat-card-actions>
 </mat-card>
