:host{
    display: flex;
    // width: 100%;
    // padding: 2rem;
    padding-bottom: 0;
    flex-direction: column;
}


.header{
    display: flex;
    justify-content: flex-end;

    padding: 0.5rem 1rem;
}

.footer{
    display: flex;
    justify-content: center;
}

.btn{
    padding: 0.25rem;
    margin: 1rem;
}
