<div class="header">
    <button mat-raised-button (click)="createItem()" class="button btn">
       <mat-icon>add_box</mat-icon> 
    </button>
    <button mat-raised-button (click)="toSettings()" class="button btn">
       <mat-icon>settings</mat-icon> 
    </button>
</div>
<ng-container *ngIf="(viewOrders$ | async) as viewOrders">
    <app-item-list (itemSelected)="orderSelected($event)" 
                [data]="viewOrders">
    </app-item-list>
</ng-container>
<div class="footer">
    <!-- <button mat-raised-button class="button">Submit</button> -->
</div>