<ng-container *ngIf="(completeOrder$ | async) as completeOrder">
    <div class="title"><strong>{{completeOrder.name}}</strong></div>
    <div class="subtitle"><strong>ID:</strong> {{completeOrder.id}}</div>
    <div class="subtitle"><strong>CUSTOMER:</strong> {{completeOrder.customer?.name}}</div>
    <ng-container *ngIf="(orderWorkflow$ | async) as orderWorkflow">
        <app-workflow-thermometer 
            (advance)="advanceWorkflowState($event)"
            (revert)="revertWorkflowState($event)"
            [orderWorkflow]="orderWorkflow">
        </app-workflow-thermometer>
    </ng-container>
    <div class="subtitle u-margin-top-m u-margin-bottom-m"><strong>NOTES:</strong> {{completeOrder.notes}}</div>
</ng-container>

<ng-container *ngIf="(fileUploads$ | async) as fileUploads">
    <div class="file-list">
        <div class="subtitle"><strong>FILES:</strong></div>
        <ng-container *ngFor="let file of fileUploads">
            <button (click)="downloadFile(file)" mat-raised-button class="file-list file-list__item">{{file.name}}</button>
        </ng-container>
    </div>
</ng-container>



