<table mat-table [dataSource]="data">
    <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let item"> {{item[column]}} </td>
        </ng-container>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns"
        mat-header-row >
    </tr>
    <tr *matRowDef="let row; columns: displayedColumns;"
        (click)="selectItem(row)"
        class="row"
        mat-row>
    </tr>
</table>
  
  